.book-search-from {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.result-title {
  text-align: center;
  padding: 20px;
  background-color: #383838;
  color: #fff;
}

.result-container {
  background-color: #fff;
  padding: 20px;
  min-height: 200px;
}